# Considera il README come documentazione (lo esclude dalle statistiche)
README.md linguist-documentation

# Ignora i file immagine
*.png binary

# Forza GitHub a rilevare Python come linguaggio principale
*.py linguist-detectable=true
frasi.json linguist-vendored
