name: Build Affari Tuoi Windows

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        pip install PyQt5 pyinstaller
    - name: Build EXE
      run: |
        pyinstaller --noconfirm --onefile --windowed --name "AffariTuoi_Windows" affari_tuoi.py
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: AffariTuoi_EXE
        path: dist/AffariTuoi_Windows.exe